@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

html,
body {
  height: 100%;
  background: #020617;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', 'Inter', sans-serif;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}


